body{
    background-color: cornflowerblue;
}
h1{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    
}
footer{
    text-align: center;
    color: white;
    margin-top: 10px;
}